# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
**/__pycache__/**

# Backend (Python)
backend/venv/
backend/.venv/
backend/*.py[cod]
backend/*$py.class
backend/.pytest_cache/
backend/.env
backend/server_log.txt
backend/test.arrow

# Frontend (Node)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.next/

# Data
data/
*.csv
*.pbf
*.arrow
